/********* This is for all Sass Variables ***********/

/*==================== GOOGLE FONTS ====================*/
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --text-color-white: hsl(0, 0%, 95%);
  --text-color-red: hsl(4, 80%, 51%);
  --body-color: hsl(0, 0%, 1%);
  --container-color: #f2f2f2;

  /*========== Font and typography ==========*/
  --body-font: Helvetica, sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-weight: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
