/********* This is for Reset ***********/
@use "../abstracts" as a;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color-white);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-white);
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 10rem 0 2rem;
}

.container {
  max-width: 1200px;
  width: calc(100% - 4rem);
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section__header {
  .section--heading {
    color: var(--text-color-red);
    font-size: 2.5rem;
    margin-bottom: 6rem;
    position: relative;
  }
  .section--heading::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #fff;
    width: 5rem;
    height: 3px;
  }
}
